body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.zgradaA,
section.zgradaB {
  display: flex;
  padding: 100px;
  margin: 0;
}

.head-title {
  position: relative;
  padding-left: 100px;
  width: min-content;
  font-size: 40px;
}

.head-title:after {
  content: "";
  width: 50%;
  height: 5px;
  background: #b23838;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: -25%;
}

.buildingContainer {
  text-align: left;
}

.status-wrapper {
  display: flex;
}

.sell,
.free {
  display: flex;
  align-items: center;
}

.green-free {
  width: 20px;
  height: 20px;
  background: #00ff47;
  border-radius: 50%;
  margin: 10px;
}

.red-sell {
  width: 20px;
  height: 20px;
  background: #cc181e;
  border-radius: 50%;
  margin: 10px;
}

.buildingContainer h3 {
  color: #b23838;
}

.buildingContainer h2 {
  color: #b23838;
  margin: 0;
  font-size: 32px;
}

.buildingContainer h4 {
  color: #adadad;
  width: 70%;
}

.floorContainer p {
  text-align: center;
}

.image-wrapper h2 {
  position: absolute;
  z-index: 100;
  left: 25px;
  color: white;
}

.floorsNumbers {
  position: absolute;
  z-index: 10;
  right: 100px;
  top: 55px;
}

.floorsNumbers li a {
  color: #626262;
  font-family: "Russo One", sans-serif;
}

.hide, .hide-2 {
  display: none;
}

.tns-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.tns-nav > [aria-controls] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #bebebe;
  outline: none;
  border: none;
  margin: 5px;
}

.tns-nav > .tns-nav-active {
  background: var(--primary-color1);
}

.first-pic,
.second-pic,
.third-pic,
.fourth-pic {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  height: 600px !important;
}

.slider img {
  width: 50%;
}

.people-and-map {
  display: flex;
  justify-content: space-around;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.people p {
  margin: 0;
  width: 80%;
}

.people-title {
  letter-spacing: 3px;
}

.peple-stats {
  font-weight: 400;
  font-family: "Poppins_Regular";
}

.see-whole-building {
  position: relative;
  display: block;
  z-index: 1000;
  color: #b23838;
  text-decoration: underline;
}

.people div {
  margin-bottom: 20px;
}

.contact-for-buying {
  text-align: center;
}

.contact-for-buying h3 span {
  text-transform: uppercase;
  color: #f05b5b;
}

.contact-for-buying h3 {
  position: relative;
  width: max-content;
  margin: auto;
  padding-bottom: 10px;
}

.contact-for-buying h3::after {
  content: "";
  width: 50%;
  height: 3px;
  border-radius: 4px;
  background-color: #e30613;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
