body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.zgradaA {
  display: flex;
  padding: 100px;
  margin: 0;
}

.head-title {
  position: relative;
  padding-left: 100px;
  width: min-content;
  font-size: 40px;
}

.head-title:after {
  content: '';
  width: 50%;
  height: 5px;
  background: #b23838;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: -25%;
}

.buildingContainer {
  text-align: left;
}

.status-wrapper {
  display: flex;
}

.sell, .free {
  display: flex;
  align-items: center;
}

.green-free {
  width: 20px;
  height: 20px;
  background: #00ff47;
  border-radius: 50%;
  margin: 10px;
}

.red-sell {
  width: 20px;
  height: 20px;
  background: #cc181e;
  border-radius: 50%;
  margin: 10px;
}

.buildingContainer h3 {
  color: #b23838;
}

.buildingContainer h2 {
  color: #b23838;
  margin: 0;
  font-size: 32px;
}

.buildingContainer h4 {
  color: #adadad;
  width: 70%;
}

.floorContainer p {
  text-align: center;
}

.image-wrapper h2 {
  position: absolute;
  z-index: 100;
  left: 25px;
  color: white;
}

.floorsNumbers {
  position: absolute;
  z-index: 10;
  right: 100px;
  top: 55px;
}

.floorsNumbers li a {
  color: #626262;
  font-family: "Russo One", sans-serif;
}

.hide {
  display: none;
}
