@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
    --primary-color:#B23838;
}

body{
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.navbar{
    padding: 15px;
}
.logi{
    width:8.5em ;
}
.logo{
    padding-top: 5px;
}

nav{
    display: none;
}

.container1{
    display: flex;
    place-content: space-between;
}

.mobileMenu{
    cursor: pointer;
}

section{
    padding: 15px;
}

.leftSide{
    padding-top: 350px;
}

.hero-cta{
    display: none;
}

.rightSide{
    display: none;
}

.tekst2{
    display: none;
}

.par2{
    padding-top: 70px;
}

.leftSide1{
    text-align: center;
    padding-bottom: ;
}
.container3{
    margin: 0;
    padding: 0;
}
.sideByside{
    display: flex;
    place-content: center;
    padding: 15px;
}

.par3{
    padding-right: 13px;
    font-weight: 600;
}

a{
    color: var(--primary-color);
}

.h2Text{
    display: none;
}

ul{
    list-style-type:none;
}

.cardSideBySide{
   display: flex;
}

.aba{
    padding-right: 15px;
}

.cardcard{
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    margin: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.cardcard:hover{
    box-shadow: 0 8px 16px 0 rgba(65, 45, 45, 0.2);
}
.container4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.leftSide5{
    background: var(--primary-color);
    max-width: 370px;
    width: auto;
    margin: auto;
    height: 620px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
    


.deset{
    padding: 15px;
    padding-left: 35px;
}

.deset1{
    padding: 15px;
    padding-left: 35px;
    position: relative;
    bottom: 30px;
}

.deset2{
    padding: 15px;
    text-align: center;
}

.Kontakt{
    color: #F8F8F8;
}

.rightSideImg{
    display: none;
}

.sixth{ 
   background: #181717;
   height: 950px;
   margin-top: 50px;
}

.container6{
    margin: 0 auto;
    text-align: center;
}
.ulFooter{
    display: inline;
}
a{
    text-decoration: none;
}
.ulFooter1{
    display: inline;
}
.row1{
    padding-top: 80px;
}
.row4{
    padding-top: 50px;
}
.row2{
    padding-top: 45px;
}
.row3{
    padding-top: 50px;
}
.pFooter1{
    width: 70px;
}
.row5{
    padding-top: 145px;
    
}
.pFooter{
    display: none;
    
}
.twobuttons{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    
}
.container10{
    display: flex;
    background: var(--primary-color);
    height: 80px;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    place-content: space-between;
    
}
.kontakt14{
    color: white;
}   
.kontakt15{
   width: 37px;
}
.kontakt10{
    padding-left: 20%;
    text-align: center;
}
.projekti10{
    padding-right: 22%;
    text-align: center;
    padding-bottom: 10%;
}

header{
    height: 100vh ;
    background: #B23838;
}
.right{
    width: 23px ;
}
.right69{
    height: 23px;
    padding-top: 17px;
}
.fifth{
    margin: 0;
    padding: 0;
}
.fourth{
    height: 100vh;
    padding-bottom: 70px;
}
.contactUsH2{
    color: #FFFFFF;
    font-weight: 600;
}
.contactUsP{
    color: #FFFFFF;
    font-weight: 600;
}
a{
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: 200;
}
.monkey{
    padding-top: 10px;
}
.mailFooter{
    color: var(--primary-color);
}
.brojFooter{
    color: var(--primary-color);
}
.pFooter1{
    font-weight: 400;   
}
.aiv{
    color: var(--primary-color);
    font-weight: 600;
}
